.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.tweet-container {
  border: 1px black solid;
  margin: 5px;
}

.flex-item {
  flex: 1;
}
.flex-item-small {
  flex: 0.2;
}

span {
  padding: 2px;
}

