<div class="flex-container-column tweet-container">
  <div class="flex-container-row flex-item">
    <img src = "/assets/default.png" alt="default profile image" class="flex-item-small"/>
    <div class="flex-container-column flex-item">
      <div class="flex-container-row flex-item">
        <span class="flex-item">{{tweet.author}}</span>
        <span class="flex-item">{{tweet.createdAt}}</span>
      </div>
      <div class="flex-container-column flex-item">
        <span>{{tweet.message}}</span>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <app-tweet-component *ngFor="let tweet of tweet.responses" [tweet]="tweet"></app-tweet-component>
  </div>
  <div class="flex-item">
    <app-tweet-reply [id]="tweet.id" [tweet]="tweet"></app-tweet-reply>
  </div>
</div>
