<div class="main-container">
  <div class="flex-item-small"></div>
  <div class="flex-item-small"></div>
  <div class="flex-item-small">
    <img src="/assets/default.png" alt="profile image">
  </div>
  <div class="flex-item">
    <app-tweet-create-component (tweetCreate)="onTweetCreate($event)"></app-tweet-create-component>
    <div class="vertical-container">
      <app-tweet-component *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet-component>
    </div>
  </div>
  <div class="flex-item-small"></div>
  <div class="flex-item-small"></div>
</div>
