.main-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 2;
}

.flex-item-small {
  flex: 1
}

img {
  width: 100%;
  height: 100%;
}
