<div class="login-container">
  <div>
    <img src="/assets/logo.png" alt="logo">
    <form (submit)="onSubmit($event)" *ngIf="!loading">
      <div><label>username: <input [(ngModel)]="username" name="username"></label></div>
      <div><label>password: <input [(ngModel)]="password" name="password"></label></div>
      <div><button type="submit" class="login-button">Login</button></div>
    </form>
    <span *ngIf="error">Invalid username or password</span>
  </div>
</div>
