<div class="tweet-create-container">
  <form (submit)="onSubmit($event)">
    <div>
      <label>Message: <input [(ngModel)]="tweetRequest.message" name="message"></label>
      <app-error [error]="err" *ngFor="let err of error.message"></app-error>
    </div>
    <div>
      <label>Tag: <input [(ngModel)]="tweetRequest.tag" name="tag"></label>
      <app-error [error]="err" *ngFor="let err of error.tag"></app-error>
    </div>
    <div>
      <button type="submit">Tweet</button>
    </div>
  </form>
</div>
