input {
  width: 100%;
}

.tweet-create-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 100%;
}

form {
  width: 100%;
}
