<div class="register-container">
  <div>
    <img src="/assets/logo.png" alt="logo">
    <form (submit)="onSubmit($event)">
      <div><label>Contact number:<input [(ngModel)]="registerRequest.contactNumber" name="contactNumber"></label></div>
      <div><label>Email:<input [(ngModel)]="registerRequest.email" name="email"></label></div>
      <div><label>First name:<input [(ngModel)]="registerRequest.firstName" name="firstName"></label></div>
      <div><label>Last name:<input [(ngModel)]="registerRequest.lastName" name="lastName"></label></div>
      <div><label>Login Id:<input [(ngModel)]="registerRequest.loginId" name="loginId"></label></div>
      <div><label>Password:<input [(ngModel)]="registerRequest.password" name="password"></label></div>
      <div><label>Passsword confirmation:<input [(ngModel)]="registerRequest.passwordConfirmation" name="passwordConfirmation"></label></div>
      <button class="register-button" type="submit">Register</button>
    </form>
  </div>
</div>
