<div class="mainbar-flexbox">
  <div class="mainbar-flex-item"><img src="/assets/logo.png" alt="logo" *ngIf="!isLoginRoute() && !isCurrentRoute('/register')" > </div>
  <div class="mainbar-flex-item"><a routerLink="/login" *ngIf="!isLoggedIn() && !isCurrentRoute('/login')">Login</a></div>
  <div class="mainbar-flex-item"><a routerLink="/register" *ngIf="!isLoggedIn() && !isCurrentRoute('/register')">Register</a></div>
  <div class="mainbar-flex-item"><a routerLink="/" *ngIf="isLoggedIn() && !isCurrentRoute('/')">Tweets</a></div>
  <div class="mainbar-flex-item"><a routerLink="/users" *ngIf="isLoggedIn() && !isCurrentRoute('/users')">All Users</a></div>
  <div class="mainbar-flex-item"><a routerLink="/logout" *ngIf="isLoggedIn() && !isCurrentRoute('/logout')">Logout</a></div>
  <div class="mainbar-flex-item"></div>
</div>
